<footer id="footer" class="footer">



    <!-- Footer Secondary -->
    <div class="footer-secondary footer-secondary--has-decor">
        <div class="container">
            <div class="footer-secondary__inner">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <ul class="footer-nav">

                            <li class="footer-nav__item"><a href="index.html">Home</a></li>
                            <li class="footer-nav__item"><a href="features-shortcodes.html">Features</a></li>
                            <li class="footer-nav__item"><a href="team-standings.html">Statistics</a></li>
                            <li class="footer-nav__item"><a href="team-overview.html">The Team</a></li>
                            <li class="footer-nav__item"><a href="blog-3.html">News</a></li>
                            <li class="footer-nav__item"><a href="shop-grid.html">Shop</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Secondary / End -->
</footer>