<div class="site-wrapper clearfix site-content-block" [ngClass]="{'modal-open':modal, 'site-wrapper--has-overlay': menu}">
    <div class="site-overlay" (click)="closeMenu()"></div>

    <!-- Header
  ================================================== -->
    <app-header></app-header>

    <!-- Content
  ================================================== -->
    <div class="site-content">
        <div class="container">

            <div class="row">
                <div class="col">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>

    <!-- Content / End -->
    <app-footer></app-footer>

    <!-- Footer
  ================================================== -->

    <!-- Footer / End -->

    <!-- Login/Register Modal -->
    <div *ngIf="loginRegister" (click)="closeLoginRegister()" class="modal fade" id="modal-login-register" tabindex="-1" role="dialog">
        <app-login-register></app-login-register>
    </div>
    <!-- Login/Register Modal / End -->
    <div *ngIf="loginRegister" class="modal-backdrop fade show"></div>
</div>