<!-- Header Mobile -->
<div class="header-mobile clearfix" id="header-mobile">
    <div class="header-mobile__logo">
        <a href="index.html"><img src="assets/images/logo.png" srcset="assets/images/logo@2x.png 2x" alt="Alchemists" class="header-mobile__logo-img"></a>
    </div>
    <div class="header-mobile__inner">
        <a id="header-mobile__toggle" class="burger-menu-icon" (click)="openMenu()"><span class="burger-menu-icon__line"></span></a>
        <span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
    </div>
</div>

<!-- Header Desktop -->
<header class="header header--layout-1">

    <!-- Header Top Bar -->
    <div class="header__top-bar clearfix">
        <div class="container">
            <div class="header__top-bar-inner">

                <!-- Account Navigation -->
                <ul class="nav-account">
                    <li *ngIf="!usuario" class="nav-account__item"><a href="#" data-toggle="modal" data-target="#modal-login-register" (click)="loginRegister($event)">Tu cuenta</a></li>
                    <li *ngIf="usuario" class="nav-account__item"><a href="" (click)="miCuenta($event)">{{usuario.nombre}}</a></li>
                    <li class="nav-account__item nav-account__item--logout" *ngIf="usuario" (click)="logout($event)"><a href="#">Logout</a></li>
                </ul>
                <!-- Account Navigation / End -->

            </div>
        </div>
    </div>
    <!-- Header Top Bar / End -->

    <!-- Header Secondary -->
    <div class="header__secondary">
        <div class="container">


            <ul class="info-block info-block--header">
                <li class="info-block__item info-block__item--contact-primary">
                    <svg role="img" class="df-icon df-icon--jersey">
          <use xlink:href="assets/images/icons-basket.svg#jersey"/>
        </svg>
                    <h6 class="info-block__heading">Join Our Team!</h6>
                    <a class="info-block__link" href="mailto:tryouts@alchemists.com">tryouts@alchemists.com</a>
                </li>
                <li class="info-block__item info-block__item--contact-secondary">
                    <svg role="img" class="df-icon df-icon--basketball">
          <use xlink:href="assets/images/icons-basket.svg#basketball"/>
        </svg>
                    <h6 class="info-block__heading">Contact Us</h6>
                    <a class="info-block__link" href="mailto:info@alchemists.com">info@alchemists.com</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Header Secondary / End -->

    <!-- Header Primary -->
    <div class="header__primary">
        <div class="container">
            <div class="header__primary-inner">
                <!-- Header Logo -->
                <div class="header-logo">
                    <a href="index.html"><img src="assets/images/logo.png" alt="Alchemists" srcset="assets/images/logo@2x.png 2x" class="header-logo__img"></a>
                </div>
                <!-- Header Logo / End -->

                <!-- Main Navigation -->
                <nav class="main-nav clearfix">
                    <ul class="main-nav__list">
                        <div class="header-mobile__logo"><span class="main-nav__back" (click)="closeMenu()"></span>
                            <a href="index.html"><img src="assets/images/logo.png" srcset="assets/images/logo@2x.png 2x" alt="Alchemists" class="header-mobile__logo-img"></a>
                        </div>
                        <li class=" active"><a href="index.html">Home</a>
                        </li>
                        <li class=""><a href="#">Features</a>
                        </li>
                        <li class=""><a href="#">The Team</a>
                        </li>
                        <li class="nav-account__item"><a href="#" (click)="loginRegister()">Tu Cuenta</a></li>
                        <li class="nav-account__item nav-account__item--logout"><a href="#">Logout</a></li>
                    </ul>

                    <!-- Social Links -->
                    <ul class="social-links social-links--inline social-links--main-nav">

                        <li class="social-links__item">
                            <a href="#" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa fa-facebook"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="#" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa fa-twitter"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="#" class="social-links__link" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa fa-google-plus"></i></a>
                        </li>

                    </ul>
                    <!-- Social Links / End -->
                </nav>
                <!-- Main Navigation / End -->
            </div>
        </div>
    </div>
    <!-- Header Primary / End -->

</header>
<!-- Header / End -->