<!-- Billing Details -->
<div class="card card--lg">
    <div class="card__header">
        <h4>Crear Liga</h4>
    </div>
    <div class="card__content">
        <div class="df-billing-fields">


            <div class="form-group form-group--sm">
                <label for="name_liga">Nombre Liga<abbr class="required" title="required">*</abbr></label>
                <input type="text" name="name_liga" id="name_liga" class="form-control" placeholder="Nombre de la liga">
            </div>

            <div class="form-group form-group--sm">
                <label for="direccion_liga">Direccion</label>
                <input type="text" name="direccion_liga" id="direccion_liga" class="form-control" placeholder="Direccion de la liga">
            </div>

        </div>
        <div class="place-order">
            <input type="submit" class="btn btn-primary btn-lg btn-block" name="guardar" id="guardar" value="Guardar">
        </div>
    </div>
</div>
<!-- Billing Details / End -->